.container-excel-to-json {
  font-size: 12px;
  width: 99vw;
  height: 70vh;
  padding: 20px 20px;
  
  background-color: hwb(0 95% 4%);
}
.container-table::-webkit-scrollbar {
  width: 18px;
}
.container-table::-webkit-scrollbar-track {
  background: #a9dee8;
}
.container-table::-webkit-scrollbar-thumb {
  background: #046a7c;
}
.container-table::-webkit-scrollbar-thumb:hover {
  background: #024652;
}
.container-table{
  overflow-y:scroll;
  max-height: 98%; /* Ajusta según la altura deseada */
}

table {
  
  border-collapse: collapse;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #fff; /* Asegúrate de que el fondo no sea transparente */
  z-index: 1; /* Asegura que el encabezado se muestre sobre el contenido al desplazar */
}
/* Estilos adicionales para mejorar la apariencia */
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
thead {
  border-bottom: 2px solid #ddd;
}

.table-buttons input{
margin-right: 2%;
}

.table-buttons button{
  margin-right: 2%
}










/*ESTO ES LO ANTIGUO*/


.container-list {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  max-height: unset;
  min-height: 65vh;
  background-color: hwb(0 85% 14%);
}

.submit-button {
  margin-top: 10px;
}

input {
  width: 200px;

  /* Otros estilos para el input */
  padding: 8px; /* Añade un poco de padding */
  border: 1px solid #ccc; /* Borde ligero para el input */
  border-radius: 100px; /* Ajusta este valor para controlar la redondez */
  box-shadow: rgb(212, 212, 216) 0px 1px 3px 0px;
  order: 1;
}


/* Estilos para el botón */
button {
  width: 200px;
  padding: 10px 15px; /* Añade un poco de padding */
  background-color: #046a7c; /* Color de fondo */
  color: white; /* Color del texto */
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre el botón */
  border: 1px solid #ccc; /* Borde ligero para el input */
  border-radius: 100px; /* Ajusta este valor para controlar la redondez */
  box-shadow: rgb(212, 212, 216) 0px 1px 3px 0px;
  order: 1;
}


button:hover {
  background-color: #064b57;
}
