.logo-container {
    display: flex;
    align-items: center;
    height: 80px;
  }
  
  .navbar-logo-kontti {
    max-height: 100%;
    width: auto;
    object-fit: contain;
  }
  
  @media (max-width: 768px) {
    .logo-container {
      height: 40px;
    }
  }