.user-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 20px;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-toggle {
background-color: #276ba6;
color: white;
padding: 8px 12px;
border-radius: 5px;
cursor: pointer;
font-size: 14px;
}

.dropdown-menu {
display: none;
position: absolute;
right: 0;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
list-style-type: none;
padding: 0;
margin: 0;
}

.dropdown:hover .dropdown-menu {
display: block;
}

.dropdown-menu li {
padding: 8px 12px;
}

.dropdown-menu li:hover {
background-color: #ddd;
}

.dropdown-menu a, .dropdown-menu span {
color: black;
text-decoration: none;
display: block;
cursor: pointer;
font-size: 14px;
}

.dropdown-menu a:hover, .dropdown-menu span:hover {
color: #054f91;
}

@media (max-width: 768px) {
.user-menu {
justify-content: center;
padding-left: 0;
}

.dropdown-menu {
position: static;
display: none;
width: 100%;
}

.dropdown:hover .dropdown-menu {
display: block;
}
}