.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home {
  padding: 40px 20px 80px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)), url('../../assets/images/inventory.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}

.text-and-options {
  flex: 3;
  text-align: center;
  flex-direction: column;
}

aside {
  flex: 1;
  text-align: center;
  flex-direction: column;

}

.home-header {
  color: #0871cd;
  margin-bottom: 120px;
  display: block;
}

.home-options {
  position: relative;
  margin-left: 6rem;
}

.option-card-in,
.option-card-out,
.option-card-di,
.option-card-qp,
.option-card-sv {
  border: 1px solid #d6d4d4;
  width: 18.5rem;
  height: 18.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0871cd;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transform: rotate(45deg);
  cursor: pointer;
  background: linear-gradient(145deg, rgb(200, 196, 196), rgb(240, 240, 240));
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.option-card-in {
  position: absolute;
  top: 1rem;
  left: 4rem;
}

.option-card-out {
  position: absolute;
  top: 1rem;
  left: 30rem;
}

.option-card-di {
  position: absolute;
  top: 14rem;
  left: 17rem;
}

.option-card-qp {
  position: absolute;
  top: 14rem;
  left: 43rem;
}

.option-card-sv {
  position: absolute;
  top: 27rem;
  left: 30rem;
}

.option-card-in p,
.option-card-out p,
.option-card-di p,
.option-card-qp p,
.option-card-sv p {
  transform: rotate(-45deg);
}

.option-card-in:hover,
.option-card-di:hover,
.option-card-out:hover,
.option-card-qp:hover,
.option-card-sv:hover {
  transform: translateY(-10px) rotate(45deg);
  background: linear-gradient(145deg, rgb(180, 176, 176), rgb(220, 220, 220));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

.links-units-inquiry {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  align-items: center;
}

.links-units-inquiry h3 {
  margin-bottom: 10px;
  justify-content: center;
  font-size: 25px;
  color: #333;
}

.links-units-inquiry ul {
  list-style-type: none;
  padding: 0;
}

.links-units-inquiry li {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}

.links-units-inquiry a {
  color: #007bff;
  text-decoration: none;
}

.links-units-inquiry a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1024px) and (max-width: 1600px) {
  /* Estilos para laptop HP 14 pulgadas */

  .home-header {
    margin-bottom: 20px;
  }

  .home-options {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    margin-left: 0;
  }

  .option-card-in,
  .option-card-out,
  .option-card-di,
  .option-card-qp,
  .option-card-sv {
    position: initial;
    transform: rotate(0deg);
    border: 1.5px solid #f1eded;
  }

  .option-card-in p,
  .option-card-out p,
  .option-card-di p,
  .option-card-qp p,
  .option-card-sv p {
    transform: rotate(0deg);
  }

  .option-card-in:hover,
  .option-card-di:hover,
  .option-card-out:hover,
  .option-card-qp:hover,
  .option-card-sv:hover {
    transform: translateY(-10px);
  }


}

@media screen and (min-width: 800px) and (max-width: 1024px) {

  /* Estilos para tablet Lenovo TB-X505L horizontal */

  .home-header {
    margin-bottom: 20px;
  }

  .home-options {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    margin-left: 0;
  }

  .option-card-in,
  .option-card-out,
  .option-card-di,
  .option-card-qp,
  .option-card-sv {
    position: initial;
    transform: rotate(0deg);
    border: 2px solid #f1eded;
    align-items: center;
  }

  .option-card-in p,
  .option-card-out p,
  .option-card-di p,
  .option-card-qp p,
  .option-card-sv p {
    transform: rotate(0deg);
  }

  .option-card-in:hover,
  .option-card-di:hover,
  .option-card-out:hover,
  .option-card-qp:hover,
  .option-card-sv:hover {
    transform: translateY(-10px);
  }
}



@media screen and (min-width: 80px) and (max-width: 800px) {

  /* Estilos para iPhone 8 vertical */

  .home-header {
    margin-bottom: 20px;
  }

  .home-options {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    margin-left: 0;
  }

  .option-card-in,
  .option-card-out,
  .option-card-di,
  .option-card-qp,
  .option-card-sv {
    position: initial;
    transform: rotate(0deg);
    border: 2px solid #f1eded;
    align-items: center;
  }

  .option-card-in p,
  .option-card-out p,
  .option-card-di p,
  .option-card-qp p,
  .option-card-sv p {
    transform: rotate(0deg);
  }

  .option-card-in:hover,
  .option-card-di:hover,
  .option-card-out:hover,
  .option-card-qp:hover,
  .option-card-sv:hover {
    transform: translateY(-10px);
  }

}