footer {
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 20px 0;
  position: relative; 
}

footer p {
  margin: 0;
}

/* Ajustes para que el contenido no quede detrás del footer */
.in-movement-container {
  padding-bottom: 100px;
}