footer {
  height: 10%;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
}
footer {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
}

footer img {
  height: 100px;
}