.in-movement-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px 20px 20px;
  margin-top: 0px; /* Ajusta este valor según la altura de tu encabezado */
 /*  background-color: #f5f5f5; */
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8)
  ),url('../../assets/images/inventory.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}

.in-movement-header {
  text-align: center;
  margin-bottom: 20px;
  color: #276ba6;
}

.in-movement-header p {
  font-size: larger;
}

.in-movement-form {
  width: 100%;
  max-width: 800px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.in-movement-form fieldset {
  border: none;
  padding: 0;
}

.legend {
  font-size: 1em;
  margin-bottom: 10px;
  color: #276ba6;
}

.data {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.in-movement-item {
  flex: 1 1 calc(50% - 20px);
  display: flex;
  flex-direction: column;
}

.in-movement-label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #276ba6;
}

.input-date,
.select-in,
.input-in {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="date"],
input[type="time"] {
  max-width: 100%;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background: #276ba6;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background: #1e5481;
}

