.header {
  height: 8%;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
  z-index: 1000; /* Asegura que el header esté sobre otros elementos */
  display: flex;
  justify-content: space-between;
  padding-left: 2%;

}

.header > div:first-child {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.header > div:last-child {
  /* Esto empuja LogoKontti más a la derecha */
  flex-grow: 0;
}
body {
  padding-top: 60px; /* Asegura que el contenido no quede oculto detrás del header fijo */
}
