.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.navbar-options-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar-option-page {
  cursor: pointer;
}

.navbar-option-text {
  font-size: 14px;
  font-weight: bold;
  color: #276ba6;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-option-text:hover {
  transform: scale(1.1);
  color: #054f91;
}

@media (max-width: 768px) {
  .navbar-options-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .navbar-option-text {
    font-size: 16px;
  }
}